[Unit]
Description="NekoWM login startup service"
After=basic.target systemd-udev-settle.service
Wants=basic.target systemd-udev-settle.service

[Service]
Restart=on-failure
RestartSec=1s
ExecStart=/usr/bin/nekowm-login

[Install]
WantedBy=multi-user.target
